#tables {
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
}

.column {
  border: 1px solid #dadce0;
  width: 100px;
  color: grey;
  text-align: center;
}

#row {
  border: 1px solid #dadce0;
  width: 100px;
  text-align: center;
  color: grey;
}