table {
  border: 1px solid black;
  margin: 10px;
}

th {
  border: 1px solid #dadce0;
  width: 100px;
  color: grey;
  text-align: center;
}

td {
  border: 1px solid #dadce0;
  width: 30px;
  text-align: center;
  color: grey;
}

tr {
  border: 1px solid #dadce0;
  width: 30px;
  text-align: center;
  color: grey;
}

.resizerleft {
  display: inline-flex;
  float: left;
  width: 4px;
  height: 18px;
  background-color: #000;
  z-index: 5;
}

.resizerright {
  width: 4px;
  height: 18px;
  background-color: #000;
  float: right;
  z-index: 9999;
}

b {
  position: absolute;
  top: 41px;
}